# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.kwks
*.keystore
*.pub
*.jks
project.properties

# iOS/macOS
.generated/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.xcuserstate
DerivedData/
Archives/

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml
*.iws

# OS files
.DS_Store
Thumbs.db
