{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.solexpay.com.ng","description":"Generated server url"}],"tags":[{"name":"KYC Verification","description":"BVN/NIN verification for tier upgrade"},{"name":"Authentication","description":"User authentication and PIN management"},{"name":"Admin Dashboard","description":"System administration and oversight APIs"},{"name":"Wallet","description":"Wallet management and funding"},{"name":"NIP Webhooks","description":"Inbound webhooks from Anchor NIP"},{"name":"Loan Repayment","description":"Loan repayment schedule, payments, and history"},{"name":"Account","description":"User account and profile management"},{"name":"School Portal","description":"School portal for viewing student loans and verification"},{"name":"Notifications","description":"User notifications management"},{"name":"NIP Transfers","description":"Interbank transfer operations via NIP"}],"paths":{"/account/profile":{"get":{"tags":["Account"],"summary":"Get user profile","operationId":"getProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProfileDto"}}}}}},"put":{"tags":["Account"],"summary":"Update user profile","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/webhooks/nip/anchor":{"post":{"tags":["NIP Webhooks"],"summary":"Receive Anchor NIP webhook","operationId":"receiveWebhook","parameters":[{"name":"X-Anchor-Signature","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/wallets/fund":{"post":{"tags":["Wallet"],"summary":"Fund wallet via bank transfer","operationId":"fundWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundWalletRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/transfers/p2p":{"post":{"tags":["transfer-controller"],"operationId":"transfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferReceiptResponse"}}}}}}},"/transfers/p2p/recipient-lookup":{"post":{"tags":["transfer-controller"],"operationId":"lookupRecipient","parameters":[{"name":"identifier","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRecipientLookupResponse"}}}}}}},"/transfers/nip":{"post":{"tags":["NIP Transfers"],"summary":"Initiate NIP transfer","operationId":"initiateTransfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateNipRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInitiateNipResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/transfers/nip/name-enquiry":{"post":{"tags":["NIP Transfers"],"summary":"Verify recipient account details","operationId":"nameEnquiry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameEnquiryRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNameEnquiryResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/transfers/nip/fee-estimate":{"post":{"tags":["NIP Transfers"],"summary":"Estimate transfer fee","operationId":"estimateFee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeEstimateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFeeEstimateResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/test/validate":{"post":{"tags":["test-controller"],"operationId":"validate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/school/loans/{loanId}/verify":{"post":{"tags":["School Portal"],"summary":"Verify student enrollment","operationId":"verifyEnrollment","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"verifiedBy","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/school/auth/login":{"post":{"tags":["School Portal"],"summary":"School portal login","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchoolLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSchoolLoginResponse"}}}}}}},"/savings/withdraw":{"post":{"tags":["savings-controller"],"operationId":"withdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavingsAccountResponse"}}}}}}},"/savings/deposit":{"post":{"tags":["savings-controller"],"operationId":"deposit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavingsTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavingsAccountResponse"}}}}}}},"/savings/accounts":{"get":{"tags":["savings-controller"],"operationId":"getUserAccounts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSavingsAccountResponse"}}}}}},"post":{"tags":["savings-controller"],"operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSavingsAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavingsAccountResponse"}}}}}}},"/savings/accounts/{accountId}/close":{"post":{"tags":["savings-controller"],"operationId":"closeAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavingsAccountResponse"}}}}}}},"/notifications/{notificationId}/read":{"post":{"tags":["Notifications"],"summary":"Mark notification as read","operationId":"markAsRead","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/notifications/read-all":{"post":{"tags":["Notifications"],"summary":"Mark all notifications as read","operationId":"markAllAsRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/loans/{loanId}/student-cancel":{"post":{"tags":["loan-controller"],"operationId":"studentCancel","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/student-accept":{"post":{"tags":["loan-controller"],"operationId":"studentAccept","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanAcceptRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/school-verify":{"post":{"tags":["loan-controller"],"operationId":"schoolVerify","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanSchoolActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/school-reject":{"post":{"tags":["loan-controller"],"operationId":"schoolReject","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanSchoolActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/repayments":{"post":{"tags":["Loan Repayment"],"summary":"Make a loan repayment payment","operationId":"repay","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRepaymentResponse"}}}}}}},"/loans/{loanId}/repayments/preview":{"post":{"tags":["Loan Repayment"],"summary":"Preview amortization schedule","operationId":"previewSchedule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmortizationPreviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAmortizationScheduleDto"}}}}}}},"/loans/{loanId}/ops-reject":{"post":{"tags":["loan-controller"],"operationId":"opsReject","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanOpsActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/ops-approve":{"post":{"tags":["loan-controller"],"operationId":"opsApprove","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanOpsActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/apply":{"post":{"tags":["loan-controller"],"operationId":"apply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanApplyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/kyc/webhook/{provider}":{"post":{"tags":["KYC Verification"],"summary":"KYC provider webhook","description":"Receive verification status updates from KYC providers","operationId":"handleWebhook","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}},{"name":"reference","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/kyc/verify/nin":{"post":{"tags":["KYC Verification"],"summary":"Submit NIN for KYC verification","description":"Submit NIN to upgrade to Tier 2. User ID should be extracted from JWT token by security layer.","operationId":"submitNin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NinVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKycVerifyResponse"}}}}}}},"/kyc/verify/bvn":{"post":{"tags":["KYC Verification"],"summary":"Submit BVN for KYC verification","description":"Submit BVN to upgrade to Tier 2. User ID should be extracted from JWT token by security layer.","operationId":"submitBvn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BvnVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKycVerifyResponse"}}}}}}},"/bills/{paymentId}/query":{"post":{"tags":["bills-controller"],"operationId":"queryTransactionStatus","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBillPaymentResponse"}}}}}}},"/bills/data":{"post":{"tags":["bills-controller"],"operationId":"purchaseData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseDataRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBillPaymentResponse"}}}}}}},"/bills/airtime":{"post":{"tags":["bills-controller"],"operationId":"purchaseAirtime","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseAirtimeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBillPaymentResponse"}}}}}}},"/auth/register":{"post":{"tags":["Authentication"],"summary":"Register new user","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/pin/set":{"post":{"tags":["Authentication"],"summary":"Set PIN for first time","operationId":"setPin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetPinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/pin/change":{"post":{"tags":["Authentication"],"summary":"Change existing PIN","operationId":"changePin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/otp/registration":{"post":{"tags":["Authentication"],"summary":"Send OTP for registration","operationId":"sendRegistrationOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSendOtpResponse"}}}}}}},"/auth/otp/pin-setup":{"post":{"tags":["Authentication"],"summary":"Send OTP for PIN setup","operationId":"sendPinSetupOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSendOtpResponse"}}}}}}},"/admin/users/{userId}/suspend":{"post":{"tags":["Admin Dashboard"],"summary":"Suspend user account","operationId":"suspendUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/users/{userId}/reactivate":{"post":{"tags":["Admin Dashboard"],"summary":"Reactivate suspended user account","operationId":"reactivateUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/kyc/{verificationId}/approve":{"post":{"tags":["Admin Dashboard"],"summary":"Manually approve KYC verification","operationId":"manualApproveKyc","parameters":[{"name":"verificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/broadcast":{"post":{"tags":["Admin Dashboard"],"summary":"Send system-wide notification","operationId":"sendBroadcast","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BroadcastNotificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/wallets/balance":{"get":{"tags":["Wallet"],"summary":"Get wallet balance","operationId":"getBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletBalanceResponse"}}}}}}},"/transfers/p2p/{transferId}":{"get":{"tags":["transfer-controller"],"operationId":"getTransfer","parameters":[{"name":"transferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferHistoryItem"}}}}}}},"/transfers/p2p/history":{"get":{"tags":["transfer-controller"],"operationId":"getTransferHistory","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTransferHistoryItem"}}}}}}},"/transfers/nip/{transferId}":{"get":{"tags":["NIP Transfers"],"summary":"Get transfer details","operationId":"getTransfer_1","parameters":[{"name":"transferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNipTransferResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/transfers/nip/banks":{"get":{"tags":["NIP Transfers"],"summary":"Get list of supported banks","operationId":"getBankList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBankListResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/transactions":{"get":{"tags":["transaction-controller"],"operationId":"getTransactionHistory","parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCursorPageResponseTransactionResponse"}}}}}}},"/transactions/{transactionId}":{"get":{"tags":["transaction-controller"],"operationId":"getTransaction","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransactionResponse"}}}}}}},"/transactions/{transactionId}/ledger-entries":{"get":{"tags":["transaction-controller"],"operationId":"getLedgerEntries","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLedgerEntryResponse"}}}}}}},"/test/business-error":{"get":{"tags":["test-controller"],"operationId":"businessError","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/school/verifications/pending":{"get":{"tags":["School Portal"],"summary":"Get pending loan verifications","operationId":"getPendingVerifications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLoanApplication"}}}}}}},"/school/students":{"get":{"tags":["School Portal"],"summary":"Get all students with loans","operationId":"getStudents","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListStudentLoanSummaryDto"}}}}}}},"/school/dashboard":{"get":{"tags":["School Portal"],"summary":"Get school dashboard metrics","operationId":"getDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSchoolDashboardDto"}}}}}}},"/savings/accounts/{accountId}":{"get":{"tags":["savings-controller"],"operationId":"getAccount","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavingsAccountResponse"}}}}}}},"/savings/accounts/{accountId}/interest-history":{"get":{"tags":["savings-controller"],"operationId":"getInterestHistory","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSavingsInterestAccrualResponse"}}}}}}},"/notifications":{"get":{"tags":["Notifications"],"summary":"Get user notifications","operationId":"getNotifications","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortOrder","in":"query","required":false,"schema":{"type":"string","default":"DESC"}},{"name":"unreadOnly","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageNotification"}}}}}}},"/notifications/unread-count":{"get":{"tags":["Notifications"],"summary":"Get unread notification count","operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/loans/{loanId}":{"get":{"tags":["loan-controller"],"operationId":"getLoan","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoanApplicationResponse"}}}}}}},"/loans/{loanId}/repayments/schedule":{"get":{"tags":["Loan Repayment"],"summary":"Get loan repayment schedule","operationId":"getSchedule","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListInstallmentDto"}}}}}}},"/loans/{loanId}/repayments/balance":{"get":{"tags":["Loan Repayment"],"summary":"Get outstanding loan balance","operationId":"getOutstandingBalance","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOutstandingBalanceDto"}}}}}}},"/loans/{loanId}/repayment-schedule":{"get":{"tags":["loan-controller"],"operationId":"getRepaymentSchedule","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLoanRepaymentScheduleResponse"}}}}}}},"/loans/school-pending":{"get":{"tags":["loan-controller"],"operationId":"getSchoolPendingLoans","parameters":[{"name":"schoolId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLoanApplicationResponse"}}}}}}},"/loans/ops-pending":{"get":{"tags":["loan-controller"],"operationId":"getOpsPendingLoans","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLoanApplicationResponse"}}}}}}},"/loans/my-loans":{"get":{"tags":["loan-controller"],"operationId":"getMyLoans","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLoanApplicationResponse"}}}}}}},"/kyc/status":{"get":{"tags":["KYC Verification"],"summary":"Get KYC verification status","description":"Get the latest KYC verification status for current user","operationId":"getKycStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKycStatusResponse"}}}}}}},"/kyc/check":{"get":{"tags":["KYC Verification"],"summary":"Check if KYC is verified","description":"Quick check if user has completed KYC verification","operationId":"isKycVerified","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/bills/{paymentId}":{"get":{"tags":["bills-controller"],"operationId":"getPayment","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBillPaymentResponse"}}}}}}},"/bills/history":{"get":{"tags":["bills-controller"],"operationId":"getUserBillHistory","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBillPaymentResponse"}}}}}}},"/bills/data/variations/{providerCode}":{"get":{"tags":["bills-controller"],"operationId":"getDataVariations","parameters":[{"name":"providerCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDataVariationResponse"}}}}}}},"/admin/users":{"get":{"tags":["Admin Dashboard"],"summary":"Search and list users","operationId":"searchUsers","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UserSearchRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageUserSummaryDto"}}}}}}},"/admin/transactions":{"get":{"tags":["Admin Dashboard"],"summary":"Get all system transactions","operationId":"getAllTransactions","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransaction"}}}}}}},"/admin/loans":{"get":{"tags":["Admin Dashboard"],"summary":"Search and list all loans","operationId":"searchLoans","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LoanSearchRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageLoanSummaryDto"}}}}}}},"/admin/loans/overdue":{"get":{"tags":["Admin Dashboard"],"summary":"List all overdue loans","operationId":"getOverdueLoans","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageLoanSummaryDto"}}}}}}},"/admin/dashboard/metrics":{"get":{"tags":["Admin Dashboard"],"summary":"Get system dashboard metrics","operationId":"getDashboardMetrics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDashboardMetricsDto"}}}}}}},"/notifications/{notificationId}":{"delete":{"tags":["Notifications"],"summary":"Delete notification","operationId":"deleteNotification","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"UpdateProfileRequest":{"type":"object","properties":{"firstName":{"type":"string","maxLength":100,"minLength":0},"lastName":{"type":"string","maxLength":100,"minLength":0},"email":{"type":"string","maxLength":255,"minLength":0},"dateOfBirth":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"FundWalletRequest":{"type":"object","properties":{"amountKobo":{"type":"integer","format":"int64","minimum":100},"sourceBank":{"type":"string","minLength":1},"sourceAccountNumber":{"type":"string"},"sourceAccountName":{"type":"string"},"narration":{"type":"string"},"reference":{"type":"string"}},"required":["amountKobo"]},"TransferRequest":{"type":"object","properties":{"recipientIdentifier":{"type":"string","maxLength":20,"minLength":0},"amountNaira":{"type":"number"},"pin":{"type":"string","maxLength":4,"minLength":4},"description":{"type":"string","maxLength":255,"minLength":0},"idempotencyKey":{"type":"string"}},"required":["amountNaira"]},"ApiResponseTransferReceiptResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TransferReceiptResponse"},"timestamp":{"type":"string","format":"date-time"}}},"RecipientInfo":{"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"phoneNumber":{"type":"string"},"accountNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"TransferReceiptResponse":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"transactionId":{"type":"string","format":"uuid"},"reference":{"type":"string"},"status":{"type":"string"},"amountNaira":{"type":"number"},"amountKobo":{"type":"integer","format":"int64"},"recipient":{"$ref":"#/components/schemas/RecipientInfo"},"description":{"type":"string"},"completedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseRecipientLookupResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RecipientLookupResponse"},"timestamp":{"type":"string","format":"date-time"}}},"RecipientLookupResponse":{"type":"object","properties":{"found":{"type":"boolean"},"userId":{"type":"string","format":"uuid"},"phoneNumber":{"type":"string"},"accountNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"message":{"type":"string"}}},"InitiateNipRequest":{"type":"object","properties":{"recipientBankCode":{"type":"string","minLength":1},"recipientAccountNumber":{"type":"string","minLength":1,"pattern":"\\d{10}"},"recipientAccountName":{"type":"string","minLength":1},"nameEnquirySessionId":{"type":"string","minLength":1},"amount":{"type":"number","minimum":100.00},"description":{"type":"string","maxLength":255,"minLength":0},"pin":{"type":"string","minLength":1,"pattern":"\\d{4}"},"idempotencyKey":{"type":"string"}},"required":["amount"]},"ApiResponseInitiateNipResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/InitiateNipResponse"},"timestamp":{"type":"string","format":"date-time"}}},"InitiateNipResponse":{"type":"object","properties":{"success":{"type":"boolean"},"transferId":{"type":"string","format":"uuid"},"reference":{"type":"string"},"status":{"type":"string"},"amount":{"type":"number"},"fee":{"type":"number"},"recipientBankCode":{"type":"string"},"recipientAccountNumber":{"type":"string"},"recipientAccountName":{"type":"string"},"message":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"NameEnquiryRequestDto":{"type":"object","properties":{"bankCode":{"type":"string","minLength":1,"pattern":"\\d{3}"},"accountNumber":{"type":"string","minLength":1,"pattern":"\\d{10}"}}},"ApiResponseNameEnquiryResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/NameEnquiryResponseDto"},"timestamp":{"type":"string","format":"date-time"}}},"NameEnquiryResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"bankCode":{"type":"string"},"bankName":{"type":"string"},"accountNumber":{"type":"string"},"accountName":{"type":"string"},"sessionId":{"type":"string"},"message":{"type":"string"}}},"FeeEstimateRequest":{"type":"object","properties":{"amount":{"type":"number","minimum":100.00}},"required":["amount"]},"ApiResponseFeeEstimateResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FeeEstimateResponse"},"timestamp":{"type":"string","format":"date-time"}}},"FeeEstimateResponse":{"type":"object","properties":{"success":{"type":"boolean"},"transferAmount":{"type":"number"},"fee":{"type":"number"},"total":{"type":"number"},"message":{"type":"string"}}},"TestRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1}}},"SchoolLoginRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}}},"ApiResponseSchoolLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SchoolLoginResponse"},"timestamp":{"type":"string","format":"date-time"}}},"SchoolLoginResponse":{"type":"object","properties":{"schoolId":{"type":"string","format":"uuid"},"schoolName":{"type":"string"},"accessToken":{"type":"string"}}},"SavingsTransferRequest":{"type":"object","properties":{"savingsAccountId":{"type":"string","format":"uuid"},"amountNaira":{"type":"number","minimum":100.00},"idempotencyKey":{"type":"string"}},"required":["amountNaira","savingsAccountId"]},"ApiResponseSavingsAccountResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SavingsAccountResponse"},"timestamp":{"type":"string","format":"date-time"}}},"SavingsAccountResponse":{"type":"object","properties":{"accountId":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"accountName":{"type":"string"},"accountType":{"type":"string","enum":["REGULAR","TARGET","EMERGENCY"]},"balanceNaira":{"type":"number"},"targetAmountNaira":{"type":"number"},"totalAccruedInterestNaira":{"type":"number"},"annualInterestRate":{"type":"number"},"status":{"type":"string","enum":["ACTIVE","CLOSED","FROZEN"]},"purpose":{"type":"string"},"targetDate":{"type":"string","format":"date"},"createdAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"}}},"CreateSavingsAccountRequest":{"type":"object","properties":{"accountName":{"type":"string","maxLength":100,"minLength":0},"accountType":{"type":"string","enum":["REGULAR","TARGET","EMERGENCY"]},"purpose":{"type":"string"},"targetAmountNaira":{"type":"number","minimum":0.00},"targetDate":{"type":"string","format":"date"},"annualInterestRate":{"type":"number","minimum":0.00}},"required":["accountType"]},"LoanCancelRequest":{"type":"object","properties":{"reason":{"type":"string","minLength":1}}},"ApiResponseLoanApplicationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoanApplicationResponse"},"timestamp":{"type":"string","format":"date-time"}}},"LoanApplicationResponse":{"type":"object","properties":{"loanId":{"type":"string","format":"uuid"},"studentUserId":{"type":"string","format":"uuid"},"schoolId":{"type":"string","format":"uuid"},"amountNaira":{"type":"number"},"purpose":{"type":"string"},"academicLevel":{"type":"string"},"academicSession":{"type":"string"},"status":{"type":"string","enum":["SUBMITTED","VERIFIED","APPROVED","ACCEPTED","REJECTED","CANCELLED","DISBURSED","ACTIVE","PAID","OVERDUE"]},"schoolVerifiedAt":{"type":"string","format":"date-time"},"schoolVerifiedBy":{"type":"string"},"opsReviewedAt":{"type":"string","format":"date-time"},"opsReviewedBy":{"type":"string"},"studentAcceptedAt":{"type":"string","format":"date-time"},"eSignReference":{"type":"string"},"coolingOffPeriodEnd":{"type":"string","format":"date-time"},"coolingOffUsed":{"type":"boolean"},"schoolRejectionReason":{"type":"string"},"opsRejectionReason":{"type":"string"},"cancellationReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"LoanAcceptRequest":{"type":"object","properties":{"eSignReference":{"type":"string","minLength":1}}},"LoanSchoolActionRequest":{"type":"object","properties":{"verifiedBy":{"type":"string","minLength":1},"rejectionReason":{"type":"string"}}},"RepaymentRequest":{"type":"object","properties":{"amount":{"type":"number"},"idempotencyKey":{"type":"string"},"notes":{"type":"string"}},"required":["amount"]},"ApiResponseRepaymentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RepaymentResponse"},"timestamp":{"type":"string","format":"date-time"}}},"RepaymentResponse":{"type":"object","properties":{"paymentId":{"type":"string","format":"uuid"},"loanId":{"type":"string","format":"uuid"},"amountPaid":{"type":"number"},"principalAllocated":{"type":"number"},"interestAllocated":{"type":"number"},"penaltyAllocated":{"type":"number"},"remainingBalance":{"type":"number"},"status":{"type":"string"},"transactionReference":{"type":"string"},"paidAt":{"type":"string","format":"date-time"},"message":{"type":"string"}}},"AmortizationPreviewRequest":{"type":"object","properties":{"principalKobo":{"type":"integer","format":"int64"},"annualInterestRate":{"type":"number"},"numberOfMonths":{"type":"integer","format":"int32"},"firstPaymentDate":{"type":"string","format":"date"}}},"AmortizationScheduleDto":{"type":"object","properties":{"principal":{"type":"number"},"totalInterest":{"type":"number"},"totalAmount":{"type":"number"},"numberOfInstallments":{"type":"integer","format":"int32"},"installments":{"type":"array","items":{"$ref":"#/components/schemas/InstallmentDto"}}}},"ApiResponseAmortizationScheduleDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AmortizationScheduleDto"},"timestamp":{"type":"string","format":"date-time"}}},"InstallmentDto":{"type":"object","properties":{"installmentNumber":{"type":"integer","format":"int32"},"dueDate":{"type":"string","format":"date"},"totalAmount":{"type":"number"},"principal":{"type":"number"},"interest":{"type":"number"},"remainingBalance":{"type":"number"}}},"LoanOpsActionRequest":{"type":"object","properties":{"reviewedBy":{"type":"string","minLength":1},"coolingOffHours":{"type":"integer","format":"int32","maximum":72,"minimum":1},"rejectionReason":{"type":"string"}}},"LoanApplyRequest":{"type":"object","properties":{"schoolId":{"type":"string","format":"uuid"},"amountNaira":{"type":"number","minimum":1000.00},"purpose":{"type":"string","minLength":1},"academicLevel":{"type":"string","minLength":1},"academicSession":{"type":"string","minLength":1},"idempotencyKey":{"type":"string"}},"required":["amountNaira","schoolId"]},"NinVerifyRequest":{"type":"object","properties":{"nin":{"type":"string","minLength":1,"pattern":"^[0-9]{11}$"}}},"ApiResponseKycVerifyResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/KycVerifyResponse"},"timestamp":{"type":"string","format":"date-time"}}},"KycVerifyResponse":{"type":"object","properties":{"verificationId":{"type":"string","format":"uuid"},"provider":{"type":"string","enum":["PREMBLY","SMILE_ID"]},"status":{"type":"string","enum":["PENDING","PROCESSING","VERIFIED","FAILED","REJECTED"]},"idType":{"type":"string"},"requestedTier":{"type":"string","enum":["TIER_1","TIER_2"]},"createdAt":{"type":"string","format":"date-time"},"message":{"type":"string"}}},"BvnVerifyRequest":{"type":"object","properties":{"bvn":{"type":"string","minLength":1,"pattern":"^[0-9]{11}$"}}},"ApiResponseBillPaymentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BillPaymentResponse"},"timestamp":{"type":"string","format":"date-time"}}},"BillPaymentResponse":{"type":"object","properties":{"paymentId":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"transactionId":{"type":"string","format":"uuid"},"billType":{"type":"string","enum":["AIRTIME","DATA","CABLE","ELECTRICITY","INTERNET"]},"provider":{"type":"string"},"amountNaira":{"type":"number"},"customerReference":{"type":"string"},"productCode":{"type":"string"},"providerReference":{"type":"string"},"status":{"type":"string","enum":["PENDING","SUCCESS","FAILED","REFUNDED"]},"commissionNaira":{"type":"number"},"commissionSettled":{"type":"boolean"},"reversalTransactionId":{"type":"string","format":"uuid"},"reversalReason":{"type":"string"},"metadataJson":{"type":"string"},"completedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"PurchaseDataRequest":{"type":"object","properties":{"walletId":{"type":"string","format":"uuid"},"providerCode":{"type":"string","minLength":1,"pattern":"^(mtn|airtel|glo|etisalat|9mobile)$"},"variationCode":{"type":"string","minLength":1},"phoneNumber":{"type":"string","minLength":1,"pattern":"^0[7-9][0-1][0-9]{8}$"},"amountNaira":{"type":"number","minimum":100.00},"idempotencyKey":{"type":"string"}},"required":["amountNaira","walletId"]},"PurchaseAirtimeRequest":{"type":"object","properties":{"walletId":{"type":"string","format":"uuid"},"providerCode":{"type":"string","minLength":1,"pattern":"^(mtn|airtel|glo|etisalat|9mobile)$"},"phoneNumber":{"type":"string","minLength":1,"pattern":"^0[7-9][0-1][0-9]{8}$"},"amountNaira":{"type":"number","minimum":50.00},"idempotencyKey":{"type":"string"}},"required":["amountNaira","walletId"]},"RegisterRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","minLength":1,"pattern":"^0[0-9]{10}$"},"firstName":{"type":"string","maxLength":120,"minLength":0},"lastName":{"type":"string","maxLength":120,"minLength":0},"otpCode":{"type":"string","minLength":1,"pattern":"^[0-9]{6}$"}}},"SetPinRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","minLength":1,"pattern":"^0[0-9]{10}$"},"otpCode":{"type":"string","minLength":1,"pattern":"^[0-9]{6}$"},"pin":{"type":"string","minLength":1,"pattern":"^[0-9]{4}$"}}},"ChangePinRequest":{"type":"object","properties":{"oldPin":{"type":"string","minLength":1,"pattern":"^\\d{4}$"},"newPin":{"type":"string","minLength":1,"pattern":"^\\d{4}$"},"confirmNewPin":{"type":"string","minLength":1,"pattern":"^\\d{4}$"}}},"SendOtpRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","minLength":1,"pattern":"^0[0-9]{10}$"}}},"ApiResponseSendOtpResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SendOtpResponse"},"timestamp":{"type":"string","format":"date-time"}}},"SendOtpResponse":{"type":"object","properties":{"message":{"type":"string"},"phoneNumber":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"},"reference":{"type":"string"}}},"BroadcastNotificationRequest":{"type":"object","properties":{"title":{"type":"string","minLength":1},"message":{"type":"string","minLength":1},"targetAudience":{"type":"string","enum":["ALL_USERS","ACTIVE_USERS","INACTIVE_USERS","KYC_VERIFIED","KYC_PENDING","HAS_LOANS","HAS_SAVINGS","ADMINS_ONLY","SCHOOLS_ONLY"]},"actionUrl":{"type":"string"},"imageUrl":{"type":"string"},"priority":{"type":"string","enum":["LOW","NORMAL","HIGH","URGENT"]}},"required":["targetAudience"]},"ApiResponseWalletBalanceResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/WalletBalanceResponse"},"timestamp":{"type":"string","format":"date-time"}}},"WalletBalanceResponse":{"type":"object","properties":{"walletId":{"type":"string","format":"uuid"},"accountNumber":{"type":"string"},"balanceNaira":{"type":"number"},"balanceKobo":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"ApiResponseTransferHistoryItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TransferHistoryItem"},"timestamp":{"type":"string","format":"date-time"}}},"TransferHistoryItem":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"transactionId":{"type":"string","format":"uuid"},"status":{"type":"string"},"amountNaira":{"type":"number"},"amountKobo":{"type":"integer","format":"int64"},"senderUserId":{"type":"string","format":"uuid"},"recipientUserId":{"type":"string","format":"uuid"},"description":{"type":"string"},"completedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseListTransferHistoryItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TransferHistoryItem"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseNipTransferResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/NipTransferResponse"},"timestamp":{"type":"string","format":"date-time"}}},"NipTransferResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"transactionId":{"type":"string","format":"uuid"},"reference":{"type":"string"},"status":{"type":"string"},"amount":{"type":"number"},"fee":{"type":"number"},"recipientBankCode":{"type":"string"},"recipientAccountNumber":{"type":"string"},"recipientAccountName":{"type":"string"},"description":{"type":"string"},"providerReference":{"type":"string"},"providerResponseCode":{"type":"string"},"providerResponseMessage":{"type":"string"},"reversedAt":{"type":"string","format":"date-time"},"reversalReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ApiResponseBankListResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BankListResponse"},"timestamp":{"type":"string","format":"date-time"}}},"BankInfo":{"type":"object","properties":{"bankCode":{"type":"string"},"bankName":{"type":"string"},"shortName":{"type":"string"}}},"BankListResponse":{"type":"object","properties":{"success":{"type":"boolean"},"banks":{"type":"array","items":{"$ref":"#/components/schemas/BankInfo"}},"message":{"type":"string"}}},"ApiResponseCursorPageResponseTransactionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CursorPageResponseTransactionResponse"},"timestamp":{"type":"string","format":"date-time"}}},"CursorPageResponseTransactionResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"nextCursor":{"type":"string"},"hasMore":{"type":"boolean"}}},"TransactionResponse":{"type":"object","properties":{"transactionId":{"type":"string","format":"uuid"},"reference":{"type":"string"},"type":{"type":"string"},"status":{"type":"string"},"amountNaira":{"type":"number"},"amountKobo":{"type":"integer","format":"int64"},"senderWalletId":{"type":"string","format":"uuid"},"recipientWalletId":{"type":"string","format":"uuid"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"ApiResponseTransactionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TransactionResponse"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListLedgerEntryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LedgerEntryResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"LedgerEntryResponse":{"type":"object","properties":{"entryId":{"type":"string","format":"uuid"},"transactionId":{"type":"string","format":"uuid"},"entryType":{"type":"string"},"amountNaira":{"type":"number"},"balanceAfterNaira":{"type":"number"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseListLoanApplication":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LoanApplication"}},"timestamp":{"type":"string","format":"date-time"}}},"LoanApplication":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"studentUserId":{"type":"string","format":"uuid"},"schoolId":{"type":"string","format":"uuid"},"amountRequestedKobo":{"type":"integer","format":"int64"},"purpose":{"type":"string"},"status":{"type":"string","enum":["SUBMITTED","VERIFIED","APPROVED","ACCEPTED","REJECTED","CANCELLED","DISBURSED","ACTIVE","PAID","OVERDUE"]},"academicLevel":{"type":"string"},"academicSession":{"type":"string"},"schoolVerifiedAt":{"type":"string","format":"date-time"},"schoolVerifiedBy":{"type":"string"},"schoolRejectionReason":{"type":"string"},"opsReviewedAt":{"type":"string","format":"date-time"},"opsReviewedBy":{"type":"string"},"opsRejectionReason":{"type":"string"},"studentAcceptedAt":{"type":"string","format":"date-time"},"coolingOffPeriodEnd":{"type":"string","format":"date-time"},"coolingOffUsed":{"type":"boolean"},"cancellationReason":{"type":"string"},"idempotencyKey":{"type":"string"},"fullyPaidAt":{"type":"string","format":"date-time"},"outstandingPrincipalKobo":{"type":"integer","format":"int64"},"totalInterestKobo":{"type":"integer","format":"int64"},"totalPenaltyKobo":{"type":"integer","format":"int64"},"disbursedAt":{"type":"string","format":"date-time"},"firstPaymentDueDate":{"type":"string","format":"date"},"esignReference":{"type":"string"}}},"ApiResponseListStudentLoanSummaryDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StudentLoanSummaryDto"}},"timestamp":{"type":"string","format":"date-time"}}},"StudentLoanSummaryDto":{"type":"object","properties":{"studentId":{"type":"string","format":"uuid"},"studentName":{"type":"string"},"studentPhone":{"type":"string"},"academicLevel":{"type":"string"},"academicSession":{"type":"string"},"totalLoans":{"type":"integer","format":"int32"},"totalAmount":{"type":"number"},"activeLoans":{"type":"integer","format":"int32"},"completedLoans":{"type":"integer","format":"int32"},"lastLoanDate":{"type":"string","format":"date-time"}}},"ApiResponseSchoolDashboardDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SchoolDashboardDto"},"timestamp":{"type":"string","format":"date-time"}}},"SchoolDashboardDto":{"type":"object","properties":{"schoolId":{"type":"string","format":"uuid"},"schoolName":{"type":"string"},"totalStudents":{"type":"integer","format":"int32"},"totalLoansSubmitted":{"type":"integer","format":"int32"},"loansVerified":{"type":"integer","format":"int32"},"loansPendingVerification":{"type":"integer","format":"int32"},"loansRejected":{"type":"integer","format":"int32"},"totalLoanAmount":{"type":"number"},"averageLoanAmount":{"type":"number"},"lastUpdated":{"type":"string","format":"date-time"}}},"ApiResponseListSavingsAccountResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SavingsAccountResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListSavingsInterestAccrualResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SavingsInterestAccrualResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"SavingsInterestAccrualResponse":{"type":"object","properties":{"accrualId":{"type":"string","format":"uuid"},"savingsAccountId":{"type":"string","format":"uuid"},"accrualDate":{"type":"string","format":"date"},"openingBalanceNaira":{"type":"number"},"closingBalanceNaira":{"type":"number"},"interestRate":{"type":"number"},"accruedInterestNaira":{"type":"number"},"isCompounded":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponsePageNotification":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageNotification"},"timestamp":{"type":"string","format":"date-time"}}},"Notification":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"userId":{"type":"string","format":"uuid"},"channel":{"type":"string","enum":["SMS","EMAIL","PUSH"]},"status":{"type":"string","enum":["PENDING","SENDING","SENT","DELIVERED","FAILED","READ"]},"notificationType":{"type":"string"},"recipientAddress":{"type":"string"},"subject":{"type":"string"},"message":{"type":"string"},"templateId":{"type":"string"},"provider":{"type":"string"},"providerMessageId":{"type":"string"},"providerResponseCode":{"type":"string"},"providerResponseMessage":{"type":"string"},"scheduledAt":{"type":"string","format":"date-time"},"sentAt":{"type":"string","format":"date-time"},"deliveredAt":{"type":"string","format":"date-time"},"readAt":{"type":"string","format":"date-time"},"failedAt":{"type":"string","format":"date-time"},"failureReason":{"type":"string"},"retryCount":{"type":"integer","format":"int32"},"maxRetries":{"type":"integer","format":"int32"},"metadata":{"type":"string"},"referenceId":{"type":"string","format":"uuid"},"referenceType":{"type":"string"}}},"PageNotification":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponseLong":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"integer","format":"int64"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListInstallmentDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/InstallmentDto"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseOutstandingBalanceDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OutstandingBalanceDto"},"timestamp":{"type":"string","format":"date-time"}}},"OutstandingBalanceDto":{"type":"object","properties":{"loanId":{"type":"string","format":"uuid"},"totalPrincipalOutstanding":{"type":"number"},"totalInterestOutstanding":{"type":"number"},"totalPenaltyOutstanding":{"type":"number"},"totalOutstanding":{"type":"number"},"installmentsRemaining":{"type":"integer","format":"int32"},"installmentsOverdue":{"type":"integer","format":"int32"},"nextDueDate":{"type":"string","format":"date"},"nextInstallmentAmount":{"type":"number"}}},"ApiResponseListLoanRepaymentScheduleResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LoanRepaymentScheduleResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"LoanRepaymentScheduleResponse":{"type":"object","properties":{"scheduleId":{"type":"string","format":"uuid"},"installmentNumber":{"type":"integer","format":"int32"},"amountNaira":{"type":"number"},"dueDate":{"type":"string","format":"date"},"status":{"type":"string","enum":["PENDING","DUE","PARTIALLY_PAID","PAID","OVERDUE","WAIVED"]},"paidAmountNaira":{"type":"number"},"paidAt":{"type":"string","format":"date-time"},"transactionId":{"type":"string","format":"uuid"}}},"ApiResponseListLoanApplicationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/LoanApplicationResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseKycStatusResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/KycStatusResponse"},"timestamp":{"type":"string","format":"date-time"}}},"KycStatusResponse":{"type":"object","properties":{"verificationId":{"type":"string","format":"uuid"},"provider":{"type":"string","enum":["PREMBLY","SMILE_ID"]},"status":{"type":"string","enum":["PENDING","PROCESSING","VERIFIED","FAILED","REJECTED"]},"idType":{"type":"string"},"requestedTier":{"type":"string","enum":["TIER_1","TIER_2"]},"approvedTier":{"type":"string","enum":["TIER_1","TIER_2"]},"verifiedFirstName":{"type":"string"},"verifiedLastName":{"type":"string"},"verifiedPhone":{"type":"string"},"verifiedDateOfBirth":{"type":"string","format":"date"},"submittedAt":{"type":"string","format":"date-time"},"processedAt":{"type":"string","format":"date-time"},"providerResponseCode":{"type":"string"},"providerResponseMessage":{"type":"string"}}},"ApiResponseBoolean":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"boolean"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListBillPaymentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BillPaymentResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListDataVariationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/DataVariationResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"BigDecimal":{"type":"object","properties":{"value":{"type":"string"}}},"DataVariationResponse":{"type":"object","properties":{"variationCode":{"type":"string"},"name":{"type":"string"},"amount":{"$ref":"#/components/schemas/BigDecimal"},"fixedPrice":{"type":"string"}}},"UserSearchRequest":{"type":"object","properties":{"phoneNumber":{"type":"string"},"email":{"type":"string"},"kycTier":{"type":"string","enum":["TIER_1","TIER_2"]},"status":{"type":"string","enum":["ACTIVE","SUSPENDED"]},"createdFrom":{"type":"string","format":"date"},"createdTo":{"type":"string","format":"date"},"sortBy":{"type":"string"},"sortOrder":{"type":"string"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}}},"ApiResponsePageUserSummaryDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageUserSummaryDto"},"timestamp":{"type":"string","format":"date-time"}}},"PageUserSummaryDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UserSummaryDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"UserSummaryDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phoneNumber":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"kycTier":{"type":"string"},"status":{"type":"string"},"role":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"suspendedAt":{"type":"string","format":"date-time"},"suspensionReason":{"type":"string"}}},"ApiResponsePageTransaction":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageTransaction"},"timestamp":{"type":"string","format":"date-time"}}},"PageTransaction":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"Transaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"reference":{"type":"string"},"idempotencyKey":{"type":"string"},"type":{"type":"string","enum":["DEPOSIT","WITHDRAWAL","P2P_TRANSFER","NIP_OUTBOUND","NIP_INBOUND","LOAN_DISBURSEMENT","LOAN_REPAYMENT","SAVINGS_DEPOSIT","SAVINGS_WITHDRAWAL","BILL_PAYMENT","FEE","REVERSAL"]},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","REVERSED"]},"amountKobo":{"type":"integer","format":"int64"},"senderWalletId":{"type":"string","format":"uuid"},"recipientWalletId":{"type":"string","format":"uuid"},"description":{"type":"string"},"metadataJson":{"type":"string"},"failureReason":{"type":"string"},"completedAt":{"type":"string","format":"date-time"},"amountNaira":{"type":"number"}}},"LoanSearchRequest":{"type":"object","properties":{"status":{"type":"string"},"schoolId":{"type":"string"},"studentId":{"type":"string"},"createdFrom":{"type":"string","format":"date"},"createdTo":{"type":"string","format":"date"},"overdueOnly":{"type":"boolean"},"sortBy":{"type":"string"},"sortOrder":{"type":"string"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}}},"ApiResponsePageLoanSummaryDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageLoanSummaryDto"},"timestamp":{"type":"string","format":"date-time"}}},"LoanSummaryDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"studentName":{"type":"string"},"schoolId":{"type":"string","format":"uuid"},"schoolName":{"type":"string"},"amount":{"type":"number"},"status":{"type":"string"},"submittedAt":{"type":"string","format":"date-time"},"disbursedAt":{"type":"string","format":"date-time"},"outstandingPrincipal":{"type":"number"},"outstandingInterest":{"type":"number"},"installmentsRemaining":{"type":"integer","format":"int32"},"isOverdue":{"type":"boolean"}}},"PageLoanSummaryDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LoanSummaryDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseDashboardMetricsDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DashboardMetricsDto"},"timestamp":{"type":"string","format":"date-time"}}},"DashboardMetricsDto":{"type":"object","properties":{"totalUsers":{"type":"integer","format":"int64"},"activeUsersToday":{"type":"integer","format":"int64"},"newUsersToday":{"type":"integer","format":"int64"},"usersByTier1":{"type":"integer","format":"int64"},"usersByTier2":{"type":"integer","format":"int64"},"usersByTier3":{"type":"integer","format":"int64"},"transactionVolumeToday":{"type":"number"},"transactionVolumeThisMonth":{"type":"number"},"transactionCountToday":{"type":"integer","format":"int64"},"transactionCountThisMonth":{"type":"integer","format":"int64"},"totalLoans":{"type":"integer","format":"int64"},"activeLoans":{"type":"integer","format":"int64"},"overdueLoans":{"type":"integer","format":"int64"},"totalLoanPortfolio":{"type":"number"},"totalOutstandingPrincipal":{"type":"number"},"totalInterestEarned":{"type":"number"},"defaultRate":{"type":"number"},"totalSavingsBalance":{"type":"number"},"activeSavingsAccounts":{"type":"integer","format":"int64"},"savingsInterestPaid":{"type":"number"},"reportDate":{"type":"string","format":"date"},"period":{"type":"string"}}},"ApiResponseProfileDto":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProfileDto"},"timestamp":{"type":"string","format":"date-time"}}},"ProfileDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phoneNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}}}}}